<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">
			%highlight{%d [%t] %-5level: %msg%n%throwable}{FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=blue}
		</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout disableAnsi="false" pattern="${LOG_PATTERN}" />
		</Console>
	</Appenders>

	<Loggers>
		<AsyncLogger name="com.ylvaldes.leerpdf" level="ALL" additivity="false">
			<AppenderRef ref="Console" />
		</AsyncLogger>

		<Root level="ALL">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>