/20191022-Disco.xls
/20191025-Disco.xls
/20191104-Devoto.xls
/20191106-Disco.xls
/20191107-Tata.xls
/AlmaNatural.txt
/Devoto.txt
/Disco.doc
/Disco.html
/Disco.txt
/Distravi.txt
/Distravi.xls
/Itau.txt
/Tata.html
/Tata.txt
/Tata.xls
